/* PALLETTE
blue: #334259
green: #6E8783
peachy: #EDDDD0
red: #DB504A
pale white: #E5E5DC
 */


html {
    font-family: 'Noto Sans', sans-serif;
    background-color: #334259;
    color: #EDDDD0;
}


/* Grid */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'header header header'
      'sidebar content content'
      'footer footer footer';
  }

ul {
    display: flex;
    padding: 0;
    margin: 0 0;
    flex-wrap: wrap; 
    
}

/* Header (Top) */
header {
    grid-area: header;
}

h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.1em;
    color: #334259
}

/* Navigation Bar */
.menu {
    background-color: #334259;

}
.menu li {
    list-style-type: none;
    padding: 0.8em;
}

.menu li:hover {
    background-color: #DB504A;
    border-radius: 5px;
}

.menu a {
    color:#EDDDD0;
    text-decoration: none;
}

.menu a:hover {
    color:#E5E5DC;
}


/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #334259;
    color:#EDDDD0;
}

.sidebar > p {
    padding: 1vw;
}
.side-menu{
    display: flex;
    flex-direction:column;
}

.side-menu li{
    list-style-type: none;
    padding: 1em;
}

.side-menu li:hover {
    background-color: #DB504A;
    border-radius: 5px;
}

.side-menu a {
    text-decoration: none;
    color:#EDDDD0;
}

/* Content */
.content {
    grid-area: content;
    background-color: #E5E5DC;
    color: #334259;
    padding: 0.5em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    'image text'
  }



.img-container{
    grid-area: image;
    padding: 0.5em;
    justify-self: end;
    align-self: start;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #E5E5DC;
    color: #334259;
}

/* Content */
.content {
    grid-area: content;
    background-color: #E5E5DC;
    color: #334259;
  }


/* Footer (Bottom) */
footer {
    grid-area: footer;
    background-color:#334259;
    color: #EDDDD0;
  }

.footer-list{
    display: flex;
}

.footer-list li {
    list-style-type: none;
    padding: 0.5em;
}

#customerservice{
    margin-left: auto
}



/* Images */
img {
    border-radius: 10px;
    margin-right: 1em;
}


/* Footer (Bottom) */
footer {
    grid-area: footer;
    background-color:#334259;
    color: #EDDDD0;
  }

.footer-list{
    display: flex;
}

.footer-list li {
    list-style-type: none;
    padding: 0.5em;
}

#customerservice{
    margin-left: auto
}

